# Python junk
__pycache__/
*.pyc

# Data, Models, and Engine Builds
*.engine
*.trt
*.onnx
*.pt
*.pth

# Local Configuration
*.yaml
!config_template.yaml
!general_configuration.yaml

# IDEs and System files
.DS_Store
.vscode/
.idea/
